entrypoint = "server.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[deployment]
run = ["npm", "start"]
deploymentTarget = "autoscale"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80
